<div class="list-group home__page-list">
    <div class="list-group-item media card-1 card-hover">
        <h3 class="media-heading">Kinkyt tilanteent xD</h3>
        <br/>
        <h4>TODO:</h4>
        <uib-accordion close-others="true">

            <uib-accordion-group heading="Pelaajan valitusoikeus" is-open="" is-disabled="">
                <p>
                    Kun joukkue huomaa vastustajan tehneen sääntöjen vastaisen heiton tai muun toimenpiteen, niin he heti tästä protestoivat ja pyytävät ratkaisua. Yksikin heitto rikkeen tapahtumisen jälkeen merkitsee valitusoikeuden menettämistä. Tuomarin pitää antaa valituksen jälkeen lupa jatkaa peliä.
                </p>
            </uib-accordion-group>


            <uib-accordion-group heading="Viivyttely ja myöhästyminen" is-open="" is-disabled="">
                <p>
                    Jos joukkue viivyttelee heitoissa niin, että peli uhkaa venyä, käske pelaajia nopeuttamaan heittämistä rangaistuksen uhalla. Jos joukkue ei huomutuksesta huolimatta lopeta viivyttelyä, voit määrätä joukkueelle yhteisajan jonka kuluessa heittovuoron loput kartut on heitettävä (esim. 30 sek / karttu).
                </p>
                <p>
                    Jos aikataulu on venynyt jo aiemmin ja peli alkaa myöhässä, voit pelata puolikkaan pelin.
                </p>
                <p>
                    Jos joukkue on 10 minuuttia myöhässä, ilmoita asiasta heti päätuomarille. Jos kyseessä on alkulohko ja muut joukkueet ovat paikalla, voit peluuttaa pelit eri järjestyksessä aikataulun pitämiseksi.
                </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Puolikas peli" is-open="" is-disabled="">
                <p>
                    Puolikkaassa pelissä joukkueilla on vain 2 heittovuoroa päädyn aikana, eli jokainen pelaaja heittää yhden kerran (2 karttua). Tämän jälkeen pisteet lasketaan normaalisti ja puolia vaihdetaan.
                </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Lyhyt uusinta (tasapeli jatkopeleissä)" is-open="" is-disabled="">
                <p>
                    Jos jatkopeleissä tulee tasapeli, pelatkaa lyhyt uusinta.
                <ul>
                    <li>4 tornia toisen pelineliön kyykkälinjalle metrin välein (etäisyys myös reunoista 1 m)</li>
                    <li>Pelin aloittanut joukkue heittää kokonaisuudessan ensin</li>
                    <li>Jokainen joukkueen pelaaja heittää yhden kartun omalta normaalilta heittoviivaltaan (ei aloitusheittoa)</li>
                    <li>Laske pisteet normaalisti ja kirjaa T.I.S.S.I.in</li>
                    <li>Pystyttäkää kenttä uudelleen. Toinen joukkue pelaa nyt samaan päätyyn</li>
                    <li>Jos tulos on tasan, pelatkaa uusi uusinta</li>
                </ul>
                </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Haljennut kyykkä" is-open="" is-disabled="">
                <p>
                    Tuomitse isomman puoliskon mukaan ja vaihda sen tilalle ehjä kyykkä.
                </p>
                <p>
                    Jos palat ovat yhtä suuret ja toinen on ulkona, tuomitse kyykkä ulosmenneeksi ja ota toinen pala pois. Jos molemmat (yhtä suuret) palat ovat sisällä, heittäjäjoukkue saa valita kumpi korvataan ehjällä ja kumpi poistetaan pelistä.
                </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Kyykkien siirtely" is-open="" is-disabled="">
                <p>
                    Pelaajat eivät saa koskea kyykkiin muuten kuin heitetyllä kartulla. Jos pelaaja siirtää vahingossa heiton aikana vastustajan kyykkiä, anna varoitus. Jos pelaajan potkaisemat kyykät siirtyvät ulos (=auttaa vastustajaa), ne jäävät ulos. Jos kyykät siirtyvät pelineliössä tai kentän keskialueelle (=haittaa vastustajaa), siirrä ne takaisin siihen missä ne olivat vuoron alussa.
                </p>
                <p>
                    Jos pelaajat potkivat tai siirtelevät kyykkiä tahallaan takaisin sisään tai sisältä ulos, anna heti varoitus ja siirrä kyykät paikalleen. Jos potkiminen ei lopu kahdella varoituksella, voit määrätä potkivan pelaajan heittämään takarajalta loppupelin ajaksi.
                </p>
            </uib-accordion-group>

            <uib-accordion-group heading="Yliastuminen" is-open="" is-disabled="">
                <p>
                    Heiton aikana pelaaja ei saa ylittää viivaa, jolta heitto tapahtuu. Jos heitto on yliastuttu, aseta ulosmenneet kyykät takaisin pelineliön eturajalle, keskeltä aloittaen. Neliöön kaatuneet jäävät paikoilleen. Heitto katsotaan tapahtuneeksi.
                </p>
                <p>
                    Jos yliastuminen on toistuvaa ja tahallista, voit määrätä yliastujan heittämään loput kartut taaemmalta viivalta: naiset kyykkälinjalta ja miehet takarajalta.
                </p>
            </uib-accordion-group>



        </uib-accordion>
    </div>
</div>
