<div class="row">
    <div class="col-md-12 header-bg" style="padding:0;">
        <div class="tuho-box-heading">
            <h3>Päätuomarien admin alue</h3>
        </div>
        <div class="tuho-full-width-box">

            <div class="row">
                <div class="col-md-2">
                    <h4>Shittii</h4>
                    <ul>
                        <li>
                            <a href="/admin/users">Rekisteröityneet käyttäjät</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Talkoolaiset</h4>
                    <ul>
                        <li>
                            <a href="/admin/referees">Tuomarit</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Turnaukset</h4>
                    <ul>
                        <li>
                            <a href="/admin/tournaments/list">Turnaukset</a>
                        </li>
                        <li>
                            <a href="/admin/tournaments/add">Lisää turnaus</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Kentät</h4>
                    <ul>
                        <li>
                            <a href="/admin/courts/list">Kentät</a>
                        </li>
                        <li>
                            <a href="/admin/courts/add">Lisää kenttä</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Shittii</h4>
                    <ul>
                        <li>
                            <a href="/admin/users">Rekisteröityneet käyttäjät</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>