<div class="row">
    <div class="col-md-12 header-bg" style="padding:0;">
        <div class="tuho-full-width-box">
            <h3 style="margin-top:0">Turnaukset</h3>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <td>#</td>
                    <th>Alkuaika</th>
                    <th>Loppuaika</th>
                </tr>
                <tr ng-repeat="court in vm.courtsList track by court.id">
                    <td>{{court.number}}</td>
                    <td>{{court.startTime | date: "dd.MM.yyyy HH:mm"}}</td>
                    <td>{{court.endTime | date: "dd.MM.yyyy HH:mm"}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script type="text/ng-template" id="courtslistPopover.html">
    <div>
        <h4>Moro</h4>
        <p></p>
    </div>
</script>